@charset "utf-8";
/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #959595;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

.gallery-item {
    float: left;
    width: 100%;
    /*padding: 10% 5% 10% 5%;*/
}