{extend name='admin@public/content'}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form'>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>图片上传</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">图片上传</label>
        <div class="layui-input-block center-block">
            <input type="hidden" name="url" value="{$vo.url|default=''}">
            <script>$('[name="url"]').uploadMultipleImage();</script>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="col-sm-7 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保 存</button>
        </div>
    </div>
</form>
{/block}