<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="80" height="80" src="/static/images/tubage.jpg" alt="hans blog"/>
        <h2 class="am-hide-sm-only" style="margin-top: 0">欢迎光临 感谢有你</h2>
    </div>
</header>
<!--<hr>-->
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" style="background-color: #c7f1f1">
        <ul class="am-nav am-nav-pills am-topbar-nav" style="float: right;margin-right: 5%">
            <li><a href={:url('index')}>首页</a></li>
            <li><a href={:url('index')}?cate=1>技术</a></li>
            <li><a href={:url('index')}?cate=2>健康</a></li>
            <li><a href={:url('index')}?cate=3>博您一笑</a></li>
            <li><a href={:url('index')}>给点建议</a></li>
            <!--<li><a href={:url('writeblog')}><i class="am-icon-pencil am-icon-fw"></i>记录</a></li>-->
            <!--{if {:session('hans_user.name')}-->
            <!--<li><a href="">你好{:session('hans_user.name')}</a></li>-->
            <!--<li><a href={:url('loginout')}>退出</a></li>-->
            <!--{else/}-->
            <!--<li><a href={:url('login')}>登入</a></li>-->
            <!--<li><a href={:url('register')}>注册</a></li>-->
            <!--{/if}-->
        </ul>
        <!--<form class="am-topbar-form am-topbar-right am-form-inline" role="search" action="{index/index/index}">-->
        <!--<div class="am-form-group">-->
        <!--<input type="text" name="keyword" class="am-form-field am-input-sm" placeholder="搜索">-->
        <!--<button type="button" class="am-btn am-btn-primary btn-loading-example">搜索</button>-->
        <!--</div>-->
        <!--</form>-->
    </div>
</nav>
<!--<hr>-->
