{extend name="extra@home/main"}
{block name="body"}
<body id="blog-article-sidebar">
<!-- header start -->
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd" style="background-color: #fbfdf3">
                <h1 class="am-article-title blog-text-center">{$article.title}</h1>
                <p class="am-article-meta blog-text-center">
                    作者：<span>hans &nbsp;</span>
                    点击数：<span>{$article.click}</span>&nbsp;
                    创建时间：<span>{$article.create_at|format_date}</span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="static/assets/i/f10.jpg" alt="" class="blog-entry-img blog-article-margin">
                <blockquote>
                    <p>{$article.abstracts}</p>
                </blockquote>
                <p>{:htmlspecialchars_decode($article.content)}
                </p>
            </div>
        </article>

        <hr>
        <div class="am-g blog-author blog-article-margin">
            <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                <img src="http://lorempixel.com/400/200/people" alt="" class="blog-author-img am-circle">
            </div>
            <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                <h3><span>作者 &nbsp;: &nbsp;</span>{$article.user_name|default='hansbobo'}</h3>
                <p>如若文章侵权请联系作者删除</p>
            </div>
        </div>
        <!--<ul class="am-pagination blog-article-margin">-->
            <!--<li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>-->
            <!--<li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>-->
        <!--</ul>-->
        <!--<hr>-->
        <form class="am-form am-g" method="post" action="{:url('discuse')}">
            <span class="blog-comment">评论</span>
            <article class="am-article">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            {volist name="list" id="vo"}
                            <li class="am-g am-list-item-dated">
                                {$vo.name}:{$vo.content}
                                <span style="text-align: right">{$vo.create_at|date="Y-m-d"}</span>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    {if isset($page)}<p>{$page|raw}</p>{/if}
                </div>
                <input type="hidden" value="{$article.id}" name="id">
                <div class="am-form-group">
                    <textarea rows="5" placeholder="一字千金" name="content"></textarea>
                </div>
                <p>
                    <button type="submit" class="am-btn am-btn-default">发表评论</button>
                </p>
            </article>
        </form>

    </div>
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="http://lorempixel.com/400/200/" alt="about me" class="blog-entry-img">
            <p>欢迎来到哔呦倍儿主页，这是一个记录平时一些心得和奇淫技巧的平台，在这里你可以看到一些技术知识。同时也希望大家提出问题，我们一起讨论共同进步</p>
        </div>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}'>
            <ul class="am-slides">
                <li>
                    <img src="http://lorempixel.com/400/200/transport">
                </li>
                <li>
                    <img src="http://lorempixel.com/400/200/animals">
                </li>
                <li>
                    <img src="http://lorempixel.com/400/200/city">
                </li>
                <li>
                    <img src="http://lorempixel.com/400/200/people">
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- content end -->
{/block}