{extend name="extra@home/main"}
{block name="body"}
<!-- banner start -->
<div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-article-margin">
    <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}'>
        <ul class="am-slides">
            <li>
                <img src="/static/assets/i/b1.jpg" style="height:300px;">
                <!--<div class="blog-slider-desc am-slider-desc ">-->
                    <!--<div class="blog-text-center blog-slider-con">-->
                        <!--<span><a href="" class="blog-color">Article &nbsp;</a></span>-->
                        <!--<h1 class="blog-h-margin"><a href="">假如，你可以活到80岁</a></h1>-->
                        <!--<p>那么，今生你只剩下{$rest_time}天。-->
                        <!--</p>-->
                        <!--<span class="blog-bor">珍惜！</span>-->
                        <!--<br><br><br><br><br><br><br>-->
                    <!--</div>-->
                <!--</div>-->
            </li>
            <li>
                <img src="/static/assets/i/b2.jpg" style="height:300px;">
                <!--<div class="am-slider-desc blog-slider-desc">-->
                    <!--<div class="blog-text-center blog-slider-con">-->
                        <!--<span><a href="" class="blog-color">Article &nbsp;</a></span>-->
                        <!--<h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>-->
                        <!--<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。-->
                        <!--</p>-->
                        <!--<span>444</span>-->
                    <!--</div>-->
                <!--</div>-->
            </li>
            <li>
                <img src="/static/assets/i/b3.jpg" style="height:300px;">
                <!--<div class="am-slider-desc blog-slider-desc">-->
                    <!--<div class="blog-text-center blog-slider-con">-->
                        <!--<span><a href="" class="blog-color">Article &nbsp;</a></span>-->
                        <!--<h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>-->
                        <!--<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。-->
                        <!--</p>-->
                        <!--<span>333</span>-->
                    <!--</div>-->
                <!--</div>-->
            </li>
            <li>
                <img src="/static/assets/i/b2.jpg" style="height:300px;">
                <!--<div class="am-slider-desc blog-slider-desc">-->
                    <!--<div class="blog-text-center blog-slider-con">-->
                        <!--<span><a href="" class="blog-color">Article &nbsp;</a></span>-->
                        <!--<h1 class="blog-h-margin"><a href="">总在思考一句积极的话</a></h1>-->
                        <!--<p>那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。-->
                        <!--</p>-->
                        <!--<span>222</span>-->
                    <!--</div>-->
                <!--</div>-->
            </li>
        </ul>
    </div>
</div>
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">

        {if empty($list)}
            <p style="text-align: center">作者没这方面的才华，敢情大家送几篇文章，感激不尽！！！</p>
        {else/}
        {volist name="list" id="item"}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-4 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=439866940,2518420321&fm=26&gp=0.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-8 am-u-md-12 am-u-sm-12 blog-entry-text">
                <h1><a href={:url('article')}?id={$item.id} target="_blank">{$item.title}</a></h1>
                <span><i class="am-icon-github am-icon-fw"></i></span>
                <span> <a href="https://github.com/hanzhenbo/hansblog" target="_blank" class="blog-color">{$item.user_name} &nbsp;</a></span>
                <span><i class="am-icon-calendar"></i></span>
                <span>{$item.create_at|format_date}</span>
                <span><i class="am-icon-eye"></i></span>
                <span>{$item.click}</span>
                <p>{$item.abstracts}</p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        {/volist}
        {/if}
        {if isset($page)}<p>{$page|raw}</p>{/if}
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="http://lorempixel.com/400/200" alt="about me" class="blog-entry-img">
            <p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
    </div>
</div>
<!-- content end -->
{/block}