<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>记录</title>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <style>
        .am-accordion-content {
            height: 75rem;
        }
    </style>
</head>
<body>

<div class="am-accordion-content"
     style="background-image: url('/static/images/timg.jpg');background-repeat: no-repeat;background-size: 100% 100%;">
    <form class="am-form am-g" method="post" action="{:url('writeblog')}">
        <div style="margin: 25% 0 0 8%;width: 85%;">
            <article class="am-article blog-article-p form">
                <span style="color: #ffffff">标题</span><input type="text" name="title" class="am-input-sm"
                                                             data-validation-message="请输入标题" placeholder="" required/>
                <span style="color: #ffffff">摘要</span><input type="text" name="abstracts" class="am-input-sm"
                                                             data-validation-message="请输入标题" placeholder="" required/>
                <div class="am-form-group">
                    <span style="color: #ffffff">内容</span>
                    <textarea class="" rows="5" placeholder="一字千金" name="content"></textarea>
                </div>
            </article>
            <p>
                <button type="submit" class="am-btn am-btn-default am-center">发表文章</button>
            </p>
        </div>
    </form>
</div>


<!-- 加载编辑器的容器 -->
<!-- 配置文件 -->
<script src="/static/plugs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugs/ckeditor/ckeditor.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    window.createEditor('[name="content"]', {height: 100});
</script>
</body>
</html>