<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>日志备忘录</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/calendar/css/layui.css">
    <script src="/static/calendar/layui.js"></script>
    <script src="/static/calendar/js/echarts.js"></script>
    <script src="/static/calendar/js/jquery.min.js"></script>

    <link rel='stylesheet' href='/static/calendar/fullcalendar/fullcalendar.css' />
    <script src='/static/calendar/lib/moment.min.js'></script>
    <script src='/static/calendar/fullcalendar/fullcalendar.js'></script>
</head>
<div id="calendar"></div>
<div hidden id="edit_Form">
    <form class="layui-form" id="editForm" style='padding:25px 30px 20px 0px' action="" data-auto="true"
          method="post"
          onsubmit="return false">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" id="edit_id" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="edit_title" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item date">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-block">
                <input type="text" name="date" class="layui-input" id="edit_date">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否是全天事件</label>
            <div class="layui-input-block">
                <input type="checkbox" name="allday" id="allday" lay-filter="switchTest" lay-text="是|否" value="1" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="subform">立即提交</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['layer','laydate','table','element','form'], function(){
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#edit_date'
                ,type: 'datetime'
                ,range: '~'
            });
        })
    });
    $(function() {
        $('#calendar').fullCalendar({
            header : {           // 头部样式
                left : 'today prev,next',
                center : 'title',
                right : 'month,agendaWeek,agendaDay,list'
            },
            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            today: ["今天"],
            buttonText : {
                month : '月视图',
                week : '周',
                day : '日视图',
                list: '任务列表'
            },
            allDayDefaul: false,
            eventLimit: true,
            isLoading: true,
            events: "{:url('calendar/task')}",    //事件数据

            editable: true,
            eventStartEditable: true,
            eventDrop: function (event,dayDelta,minuteDelta,allDay,revertFunc) {
                console.log(event);
                if (event.allDay){
                    var data = {
                        dropid:event.id,
                        dropdays:dayDelta._days,
//                            dropminutes:dayDelta._milliseconds,
                        start: event.start.format('YYYY-MM-DD HH:mm:ss')
                    }
                }else{
                    var data = {
                        dropid:event.id,
//                            dropminutes:dayDelta._milliseconds,
                        start: event.start.format('YYYY-MM-DD HH:mm:ss')
                        ,end: event.end.format('YYYY-MM-DD HH:mm:ss')
                    }
                }
                $.ajax({
                    url: "{:url('calendar/droptask')}",
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        if (data.state == 1){
                            layer.msg('课程安排时间修改成功');
                            $('#calendar').fullCalendar('refetchEvents');
                        }
                    }
                });
            },
            eventDurationEditable: true,
            dayClick: function (date, allDay, jsEvent, view) {
                console.log(date.format());
                $('#edit_id').attr('value','');
                $('#edit_title').attr('value','');   //置空input
                $("#allday").attr('checked',false);  // 重置switch按钮
                $("#allday").next().attr('class','layui-unselect layui-form-switch');// 重置switch按钮
                $("#allday").next().children('em').text('否');  // 重置switch按钮
                $("#edit_date").attr('value',date.format('YYYY-MM-DD HH:mm:ss')+'~'+date.format('YYYY-MM-DD HH:mm:ss'));
                $('#edit_date').attr('lay-verify','required');
                $(".date").show();
                layer.closeAll();
                layer.open({
                    type: 1,
                    title: '课程添加'
                    ,area: ['550px', '400px'] //宽高
                    ,content: $('#edit_Form')//弹出form的html
                    ,shade: 0.3 //不显示遮罩
                    ,moveType: 1 //拖拽模式，0或者1
                });
                layui.form.on('submit(subform)', function (data) {
                    var allday = data.field.allday;
                    if (allday == 'undefined'){
                        allday = 0;
                    }
                    $.ajax({
                        url: "{:url('calendar/AddTask')}",
                        type: "POST",
                        data: {
                            "taskname":data.field.title,
                            "taskdate":data.field.date,
                            "allday": allday
                        },
                        dataType: "json",
                        success: function (e) {
                            if (e.state == 1) {
                                layer.msg(e.msg, {icon: 6});
                                $('#calendar').fullCalendar('refetchEvents');
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 1000);
                            } else {
                                layer.msg(e.msg, {icon: 5});
                                $('#calendar').fullCalendar('refetchEvents');
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 1000);
                            }
                        }
                    });
                });
            },
            eventClick : function( event ){
                $('#edit_id').attr('value',event.id);
                $('#edit_title').attr('value',event.title);

                if (event.allDay){
                    $("#allday").attr('checked',true);
                    $("#allday").next().attr('class','layui-unselect layui-form-switch layui-form-onswitch');
                    $("#allday").next().children('em').text('是');
                    $(".date").hide();
                }else{
                    $('#edit_date').val(event.start.format('YYYY-MM-DD HH:mm:ss')+'~'+event.end.format('YYYY-MM-DD HH:mm:ss'));
                }

                //do something here...
                layer.closeAll();
                layer.open({
                    type: 1,
                    title: '课程修改'
                    ,area: ['550px', '400px'] //宽高
                    ,content: $('#edit_Form') //弹出form的html
                    ,shade: 0.3 //不显示遮罩
                    ,moveType: 1 //拖拽模式，0或者1
                });
                layui.form.on('switch(switchTest)', function(data){
                    if (this.checked){
                        $(".date").hide();
                        $('#edit_date').attr('lay-verify','');
                    }else{
                        $(".date").show();
                        $('#edit_date').attr('lay-verify','required');
                        layer.tips('温馨提示：请正确选择全天事件', data.othis)
                    }
                });
                layui.form.on('submit(subform)', function (data) {
                    var allday = data.field.allday;
                    if (allday == 'undefined'){
                        allday = 0;
                    }
                    $.ajax({
                        url: "{:url('calendar/UpdateTask')}",
                        type: "POST",
                        data: {
                            "taskid":data.field.id,
                            "taskname":data.field.title,
                            "taskdate":data.field.date,
                            "allday":allday
                        },
                        dataType: "json",
                        success: function (e) {
                            if (e.state == 1) {
                                layer.msg(e.msg, {icon: 6});
                                $('#calendar').fullCalendar('refetchEvents');
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 1000);
                            } else {
                                layer.msg(e.msg, {icon: 5});
                                $('#calendar').fullCalendar('refetchEvents');
                                setTimeout(function () {
                                    layer.closeAll();
                                }, 1000);
                            }
                        }

                    });
                });

            },
            eventResize : function( event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) {
                console.log(event)
            }
        });
    });

</script>